*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Work Sans';
  color: #242526; }
  @media only screen and (max-width: 300px) {
    html {
      font-size: 30%; } }

body {
  box-sizing: border-box;
  padding: 0;
  background-color: #F6F9FC; }
  @media only screen and (min-width: 600px) and (max-width: 900px) {
    body {
      padding: 0; } }

::selection {
  background-color: #F6F9FC;
  color: #fff; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 2.3rem; }

h4 {
  font-size: 2.1rem; }

svg {
  fill: #242526; }

.typing h1 {
  border-right: 0.15em solid orange;
  white-space: nowrap;
  overflow: hidden; }

.typing h1:nth-child(1) {
  width: 6rem;
  -webkit-animation: type 0.3s steps(2, end);
  animation: type 0.3s steps(2, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.typing h1:nth-child(2) {
  width: 30rem;
  opacity: 0;
  -webkit-animation: type 1.3s steps(10, end);
  animation: type 1.5s steps(9, end);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@keyframes type {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  99.9% {
    border-right: 0.15em solid orange; }
  100% {
    opacity: 1;
    border: none; } }

@-webkit-keyframes type {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  99.9% {
    border-right: 0.15em solid orange; }
  100% {
    opacity: 1;
    border: none; } }

.header {
  background-color: #242526; }
  .header-text {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem;
    padding-bottom: 16rem;
    font-family: 'Anonymous Pro'; }

.profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%; }

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15rem; }
  .info-box {
    background-color: #fff;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2); }
    .info-box--name {
      margin-top: 2rem; }
    .info-box--location {
      margin-top: 1rem;
      font-size: 1.8rem;
      font-family: 'IBM Plex Serif',sans-serif;
      text-align: center; }
    .info-box--icons {
      display: flex; }

.icons {
  font-size: 2.3rem;
  margin: 1rem;
  cursor: pointer; }
  .icons:hover {
    color: rgba(0, 0, 0, 0.5); }

a {
  text-decoration: none;
  color: inherit; }

a svg {
  width: 2.5rem;
  height: 2.5rem; }

.skills {
  margin-top: 6rem; }
  .skills-title {
    text-align: center; }
  .skills-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 0; }
  .skills-item {
    padding: 0 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .skills-item:last-child {
      margin-bottom: 0; }
    @media only screen and (min-width: 1200px) and (max-width: 1280px) {
      .skills-item {
        flex: 0 0 33%;
        max-width: 33%;
        margin: 0; } }
    @media only screen and (min-width: 1280px) {
      .skills-item {
        flex: 0 0 33%;
        max-width: 33%;
        margin: 0; } }
    @media only screen and (min-width: 900px) and (max-width: 1200px) {
      .skills-item {
        flex: 0 0 33%;
        max-width: 33%;
        margin: 0; } }
    .skills-item--title {
      text-align: center; }
    .skills-item--icons {
      text-align: center;
      font-size: 10rem; }
    .skills-item--about {
      text-align: center;
      font-size: 1.8rem;
      letter-spacing: 1px;
      font-family: 'IBM Plex Serif',sans-serif; }
    .skills-item--tech {
      font-size: 1.8rem;
      text-align: center;
      padding: 1rem; }
    .skills-item--lang {
      font-size: 1.5rem;
      letter-spacing: 2px;
      text-align: center;
      font-weight: 700; }

.animate {
  transition: 1s;
  transition-property: opacity, transform, -webkit-transform;
  transition-timing-function: ease;
  transform: translate3d(0, 100px, 0); }
  .animate-enter {
    opacity: 1;
    transform: none; }

span svg {
  width: 7rem;
  height: 10rem; }

.career {
  margin-top: 3rem; }
  .career-title {
    text-align: center; }
  .career-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .career-item {
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 3rem;
    align-items: center; }
    .career-item--comp {
      font-size: 1.8rem; }
    .career-item--date {
      font-size: 1.8rem;
      font-weight: 300;
      font-style: italic; }
    .career-item--location {
      font-size: 1.8rem;
      font-weight: 300;
      font-style: italic; }
    .career-item a {
      margin: 1.2rem; }
    .career-item--logo {
      max-width: 20rem; }

.projects {
  margin-top: 3rem; }
  .projects-title {
    text-align: center; }
  .projects-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 0; }
  .projects-item {
    width: 100%;
    padding: 0 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 3rem;
    align-items: center; }
    .projects-item:last-child {
      margin-bottom: 0; }
    @media only screen and (min-width: 1200px) and (max-width: 1280px) {
      .projects-item {
        flex: 0 0 30%;
        max-width: 30%;
        margin: 0; } }
    @media only screen and (min-width: 1280px) {
      .projects-item {
        flex: 0 0 30%;
        max-width: 30%;
        margin: 0; } }
    @media only screen and (min-width: 900px) and (max-width: 1200px) {
      .projects-item {
        flex: 0 0 30%;
        max-width: 30%;
        margin: 0; } }
    .projects-item--about {
      text-align: center;
      font-size: 1.8rem;
      letter-spacing: 1px;
      font-family: "IBM Plex Serif", sans-serif; }
    .projects-item--lang {
      margin-top: 1rem;
      font-size: 1.5rem;
      letter-spacing: 2px;
      font-weight: 700; }
    .projects-item--associated {
      font-size: 1.5rem;
      line-height: 4rem; }
    .projects-item--comp {
      font-size: 1.5rem;
      letter-spacing: 2px;
      font-weight: 700; }
    .projects-item--status {
      font-size: 1.5rem;
      font-weight: 600; }

.contact {
  margin-top: 3rem; }
  .contact-title {
    text-align: center; }
  .contact-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    padding-bottom: 5rem; }
  .contact-box {
    width: 100%;
    margin-bottom: 2rem; }
    .contact-box:last-child {
      margin-bottom: 0; }
    @media only screen and (min-width: 1200px) and (max-width: 1280px) {
      .contact-box {
        max-width: 33%; } }
    @media only screen and (min-width: 1280px) {
      .contact-box {
        max-width: 33%; } }
    @media only screen and (min-width: 900px) and (max-width: 1200px) {
      .contact-box {
        max-width: 33%; } }
    .contact-box label {
      font-size: 1.8rem; }
  .contact-input {
    width: 100%;
    background: transparent;
    outline: 0;
    border: 1.5px solid #242526;
    border-radius: 5px;
    min-height: 3.5rem;
    margin: 0.4rem 0;
    padding: 0.4rem;
    font-size: 1.8rem;
    color: #242526; }
    .contact-input:focus {
      border: 2px solid #242526; }

.education {
  margin-top: 3rem; }
  .education-title {
    text-align: center; }
  .education-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .education-item {
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 3rem;
    align-items: center; }
    .education-item--comp {
      font-size: 1.8rem; }
    .education-item--sub {
      font-size: 1.8rem;
      font-weight: 600; }
    .education-item a {
      margin: 1.2rem; }
    .education-item--logo {
      max-width: 12rem; }

footer {
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem; }
