*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(small-phone){
        font-size: 25%;
    }
    @include respond(tab-land) {
        font-size: 50%; 
    }

    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(laptop) {
        font-size: 68.75%; //1rem=11px
    }
    @include respond(phone) {
        font-size: 30%; //1rem=5px
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    padding: 0;

    @include respond(tab-port) {
        padding: 0;
    }
    background-color: $color-primary;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
