// COLORS
$color-primary: #F6F9FC;
$color-primary-dark:#e5e3ea;

$color-secondary:#242526;

$color-white: #fff;
$color-black: #000;

// FONT
$h1-font:5rem;
$h2-font:3.5rem;
$h3-font:2.5rem;
$p-font:2rem;
$s-font:1.5rem;
$big-icon-font:10rem;
